table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}


html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  z-index: 0;
}
